.about {
  padding: 1.25em 3em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1em;
}
.about > p {
  text-align: justify;
  padding: 0 4em;
}

h1,
h3,
p,
h2 {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.1rem;
}

.segments {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5em;
  margin-right: auto;
}

.segment {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.segment p {
  text-align: justify;
}

.segment h3 {
  display: flex;
  align-self: center;
}
.segment2 {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 1em;
}
.segment2 p {
  padding: 0 4em;
}
span {
  color: cornflowerblue;
}
.recommender {
  color: cadetblue;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 0 15em;
  justify-content: space-between;
  gap: 1em;
}
.closure {
  color: slategray;
}

/* .segments {
    display: flex;
    justify-content: space-between;
  }
  .segment,
  .segment1 {
    margin: 0 auto;
    align-items: center;
  }
  .segment {
    align-content: center;
    align-items: center;
  }
  .segment, .segment1, h3:hover{
      color: rgb(30, 185, 185);
  }
  .segment1 {
    margin-right: 2.5em;
  }
  .segment2 {
    display: flex;
    flex-direction: column;
    padding: 0rem 30rem;
    gap: none;
  } */

@media (max-width: 1070px) {
  ul {
    padding: 0 5em;
  }
}
@media (max-width: 880px) {
  .segments {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: justify;
  }
}
@media (max-width: 730px) {
  .about > p {
    text-align: justify;
    padding: 0 0em;
  }

  ul {
    padding: 0 1em;
  }
  .segment2 p {
    padding: 0 1em;
  }
}
@media (max-width: 510px) {
  .about h2 {
    text-align: center;
  }
  .segment2 h3 {
    display: flex;
    align-self: center;
  }
}
@media (max-width: 370px) {
  h1 {
    text-align: center;
  }
  .segment h3 {
    text-align: center;
  }

  .segment1 :nth-child(2) {
    text-align: center;
  }
  p {
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
  }
  .segment2 p {
    padding: 0 0em;
    text-align: justify;
  }
}
