* {
  background-color: white;
}
.footers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  gap: 2em;
  margin: 0;
  padding: 0;
  align-items: center;
  /* gap: 4em; */
  font-weight: bold;
  font-size: large;
}
/* .paragh {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-self: center;
  padding: 0 2em;
} */
.footers h3 {
  font-size: 1rem;
  font-weight: 500;
}
.footers > img {
  max-width: 100px;
  height: 10%;
  margin: 0;
  padding: 0;
}
@media (max-width: 370px) {
  .footers h3 {
    text-align: left;
  }
  .footers {
    max-width: 200px;
  }
}
@media (max-width: 370px) {
  .footers {
    padding-right: 1em;
    gap: 0.5em;
  }
  .footers h3 {
    font-size: 0.5rem;
    font-weight: 500;
  }
}
